
@import url("https://fonts.googleapi.com/css2?family=Poppins&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333333;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

#logo-1 {
  position: relative;
  right: 110px;
  list-style: none;
}

.search-container-1 {
  position: relative;
  right: 190px;
}
.search-container-1 input {
  width: 250%;
  height: 70%;
  margin-top: 10px;
  padding-left: 10px;
  background: transparent;
  color: #333333;
  outline: none;
  border-radius: 20px;
  outline: none;
  border-color: #d1d1d1;
}

.search-icon-1 {
  position: absolute;
  left: 400px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
}

.search-container-1 input::placeholder {
  padding-left: 20px;
  color: #333333;
}

.nav-IMG-1 {
  position: relative;
  left: 100px;
}

#bell-1 {
  margin-right: 20px;
  margin-bottom: 10px;
}

/* section */

.location-quick-section {
  display: flex;
}

.location-inner-quick-section {
  width: 350px;
  padding-left: 80px;
  padding-top: 75px;
}

.location-inner-quick-section-1 {
  padding-bottom: 50px;
  list-style: none;
}

.location-inner-quick-section-1-1:hover {
  color: #d20606;
}

.location-inner-quick-section-1-1 {
  color: #333333;
}

.location-inner-quick-section-1 img {
  padding-right: 20px;
  width: 40px;
}

.location-bottom-line {
  border-bottom: 3px solid red;
  padding-bottom: 50px;
  width: 150px;
}

.location-top-line {
  padding-top: 30px;
}

.location-BTN-3:hover {
  background-color: #d20606;
  color: #d1d1d1;
}

.location-BTN-4 {
  margin-right: 50px;
  background-color: #d3d3d3;
  color: #333333;
}

.location-BTN-4:hover {
  background-color: #d20606;
  color: #d1d1d1;
}

.location-BTN-5 {
  margin-right: 50px;
  background-color: #d3d3d3;
  color: #333333;
}

.location-BTN-5:hover {
  background-color: #d20606;
  color: #d1d1d1;
}
.location-inner-quick-section {
  width: 30%;
}
.location-inner-quick-section {
  border-right: 0.5px solid #c8c2c2;
  width: auto;
  padding: 40px;
}

.profile-container {
  border: solid 0.5px #c8c2c2;
  padding: 10px;
  margin-left: 150px;
  width: 450px;
  float: right;
  margin-right: 20px;
}
.profile-container h2 {
  margin: 0;
  padding-bottom: 2px;
  border-bottom: solid 1px red;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
}

.edit-profile-button {
  margin-left: auto;
  top: 0;
}

.personal-info h1 {
  margin: 0;
}

.personal-info p {
  color: black;
  border-bottom: solid 1px #eeeeee;
}

.additional-info span {
  display: inline-block;
}

.details {
  border: solid 0.5px #c8c2c2;
  padding: 10px;
  margin-left: auto;
  margin-right: 60px;
  height: 31vh;
  width: 30%;
}
.stats-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-item {
  border-bottom: solid 1px #eeeeee;
}

.stat-item:last-child,
.contact-item:last-child {
  border-bottom: none;
}

.stat-value {
  color: red;
  font-size: large;
  font-weight: bold;
  float: left;
}
.save-button {
  color: white;
  background-color: gray;
  align-items: center;
  margin-left: 180px;
}

.stat-subtext {
  color: grey;
  display: flex;
  float: left;
}

.more-details {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-left: auto;
  border: solid 0.5px #c8c2c2;
  margin-bottom: 30px;
  margin-right: 60px;
  width: 30%;
  height: 55vh;
  display: absolute;
}
.medic-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.medic-image {
  margin-right: 10px;
}

.header {
  background-color: transparent;
  height: 10vh;
}
.header-text h4 {
  margin-left: 0;
  display: flex;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.article-grid a {
  color: #d20606;
}
.article-item {
  text-align: center;
}

.article-item img {
  width: 15h;
  height: 15vh;
}
.view-all {
  color: #d20606;
}
